:root {
  /* variables */
  --color-black: #333;
  --color-darkgrey: #555;
  --color-lightgrey: #d0d0d0;
  --color-cleargrey: #eee;
  --color-highlight-main: #646cff;
  --color-highlight-secondary: #4c53d1; 
  --color-highlight-clear: #e6e7ff;
  --color-negative: #ff6464;
  --color-positive: #42E2B8;
  --color-alternative: #ffd700;
  --color-gold: #fdda28;
  --color-silver: #b8d0f6;
  --color-bronze: #f6b58d;

  /* color-scheme */
  color: var(--color-black);
  background-color: var(--color-cleargrey);

  /* typography */
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Animations Spinner Colin Howeth */
#loading-bar-spinner.spinner {
  left: 50%;
  margin-left: -20px;
  top: 50%;
  margin-top: -20px;
  position: absolute;
  z-index: 19 !important;
  animation: loading-bar-spinner 400ms linear infinite;
}

#loading-bar-spinner.spinner .spinner-icon {
  width: 80px;
  height: 80px;
  border:  solid 4px transparent;
  border-top-color:  var(--color-highlight-main) !important;
  border-left-color: var(--color-highlight-main) !important;
  border-radius: 50%;
}

@keyframes loading-bar-spinner {
0%   { transform: rotate(0deg);   transform: rotate(0deg); }
100% { transform: rotate(360deg); transform: rotate(360deg); }
}

/* Animation shine des medailles */
@keyframes shine {
  0% { background-position: -100% 0; }
  85% { background-position: -100% 0; }
  100% { background-position: 100% 0; }
}







body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  gap:5px;
}

header>h1,
header>nav,
header>nav>ul{
  margin: 0;
}

h4{
  margin: 0;
  font-weight: 300;
  text-align: left;
}

#root {
  display: flex;
  flex-direction: row;
  width: 100vw;
}

aside>header{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap:0;
  width: 100%;
}
header>#main-logo{
  border-bottom: 1px solid var(--color-cleargrey);
  padding:20px 0;
}
header>#main-logo .broom-logo{
  color: var(--color-highlight-main);
  position: relative;
  top:2.5px;
  right:2px;
}
header>nav{
  display: flex;
  flex-direction: column;
  gap: 0;
  flex: 1;
}
header>nav>ul{
  flex-grow: 1;
  display: flex;
  flex-flow: column nowrap;
  justify-self: flex-end;
}
aside>header>nav>p{
  color: var(--color-darkgrey);
  font-size: 1em;
  font-weight: 400;
  text-align: left;
  padding:20px;
  padding-bottom: 0;
  margin-bottom: 12px;
}
aside>header>nav>p .username{
  color: var(--color-highlight-main);
}
header>nav>.householdSelector{
  /* outline: none; */
  /* color: var(--color-positive); */
  font-size:.9em;
  margin: 20px 15px 20px;
  flex-grow: 0;
}
header>nav>.householdSelector:hover{
  box-shadow:none;
}
header>nav>ul>li:last-child{
  border-top: 1px solid var(--color-cleargrey);

  margin-top: auto;
  /* position:absolute;
  bottom:0; */
}
header>nav>ul>li>a{
  display: flex;
  align-items: center;
  justify-content: stretch;
  gap: 10px;
  color: var(--color-black);
  text-align: left;
  border-left: none;
  border-right: none;
  padding: 10px 10px 10px 15px;
  transition: background-color 0.3s ease;
}
header>nav>ul>li>a.active {
  color: var(--color-highlight-main);
}
header>nav>ul>li>a:hover{
  background-color: var(--color-highlight-clear);
  color: var(--color-highlight-main);
}
header>nav>ul>li>a>svg{
  color: var(--color-darkgrey);
  /* transition: color 0.3s ease; */
}
header>nav>ul>li>a.active>svg,
header>nav>ul>li>a:hover>svg{
  color: var(--color-highlight-main);
}

header>nav>ul>.divider{
  /* flex: 1; */
}

#root>main {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 20px;

  flex-grow: 1;
  align-items: center;
  /* justify-content: center; */
  align-content: space-around;
}

.card{
  background-color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 5px;
}
.card h2{
  margin-top: 0;
}

a {
  font-weight: 500;
  color: var(--color-highlight-main);
  text-decoration: inherit;
  cursor: pointer;
}
a:hover {
  color: var(--color-highlight-secondary);
}

hr{
  border: 0;
  clear:both;
  display:block;
  width: 100%;               
  background-color: var(--color-cleargrey);
  height: 1px;
  margin: 20px 0;
}

h1 {
  font-size: 2.2em;
  font-weight: 200;
  line-height: 1.1;
}
h1 a{
  color: var(--color-black);
  font-weight: 200;

  position: relative;
  right: 3px;
}
h1 a:hover{
  color: var(--color-highlight-main);
}

button {
  border-radius: 999em;
  border: 1px solid transparent;
  padding: 5.5px 16px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;

  color: white;
  background-color: var(--color-highlight-main);
}
button:hover {
  /* color: var(--color-highlight-main); */
  background-color: var(--color-highlight-secondary);
}
button:active {
  outline: 2px solid var(--color-highlight-main);
}

ul{
  list-style: none;
  padding-left: 0;
}



h2{
  color: var(--color-darkgrey);
  font-weight: 300;
  text-decoration: none;
}

form{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

label{
  display: block;
  color: var(--color-darkgrey);
  font-size: .9em;
  margin-bottom: 2px;
}

input,
select{
  height:22px;
  color: var(--color-black);
  font-size: 1em;
  padding: 5px 10px;
  flex-grow: 1;
  flex-shrink: 1;
  outline: 1px solid var(--color-cleargrey);
  border:none;
  border-radius: 3px;
  transition: box-shadow 0.3s ease;
}
select{
  cursor: pointer;
  height: 32px;
  border-right: 8px solid transparent;
  
}
input:hover,
select:hover{
  outline: 1px solid var(--color-highlight-clear);
  box-shadow: 0 0 4px rgba(100, 108, 255, 0.5);
  transition: box-shadow 0.2s ease-out;
}
input:focus{
  opacity: 1;
  outline: 2px solid var(--color-highlight-main);
}
input::placeholder{
  color: #aaa;
}

input[type="checkbox"]{
  flex-grow: 0;
  cursor: pointer;
  outline: none;
  box-shadow: none;
}

.todoList{
  padding: 20px 0 0;

  display: flex;
  flex-direction: column;
  gap:10px;
}
.taskItem{
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap:7px;

  background-color: white;
  padding:6px 8px;
  border-radius: 10px;
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,.2);
  outline: 5px solid transparent;
  transition: box-shadow 0.3s ease-out, outline 0.3s ease-out;
  z-index:1;
}
.taskItem:hover{
  cursor: pointer;
  
  box-shadow: 0 0 15px 2px rgba(76, 83, 209, 0.4);
  /* color: var(--color-highlight-secondary); */
  outline: 1px solid var(--color-highlight-main);
  transition: box-shadow 0.2s ease-out, outline 0.5s ease-out;
  z-index:10;
}
.taskItem{
  display: flex;
  align-items: center;
  gap: 5px;
  flex-grow: 1;
}
.taskItem>.taskName{
  color: var(--color-black);
  font-weight: 400;
  line-height: 1.1;
  width: 100%;

  display: inline-block;
  margin: 5px 10px;
  max-width: 240px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.taskItem.checked{
  opacity: 0.5;
  transition: opacity 0.3s ease-out, box-shadow 0.3s ease-out, outline 0.3s ease-out;
}
.taskItem.checked:hover{
  opacity: 0.9;
  transition: opacity 0.2s ease-in, box-shadow 0.2s ease-out, outline 0.2s ease-out;
}
.taskItem .checked{
  text-decoration: line-through;
}

.formGroup{
  display: flex;
  align-items: center;
  justify-content: stretch;
  flex-shrink: 1;
  gap: 0.5em;
  flex-flow: row wrap;
}

.taskItem .ratingTag{
  min-width: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap:1px;
  color: white;
  font-size: .9em;
  line-height: 1.3;
  padding: 0 4px;
  background-color: var(--color-alternative);
  margin-right:5px;

  border-radius: 4px;
  font-weight: 600;
  font-size: .9em;

  opacity: 0.9;
  box-shadow: 1px 1px 1px 0px rgba(0,0,0,.3);

}

.deleteBtn,
.editBtn{
  font-size: .9em;
  background: none;
  color: var(--color-black);
  border: none;
  padding: 0 5px 2px 5px;
  border-radius: 999em;
  cursor: pointer;

  opacity: 1;

  align-self:center;
}
.editBtn{
  color: var(--color-darkgrey);
  padding:2px 8px 3px;
  margin-left: auto;
}
.editBtn:hover{
  color:white;
  opacity: 1;
  background-color: var(--color-positive);
}
.deleteBtn{
  color:var(--color-negative);
}
.deleteBtn:hover{
  opacity: 1;
  color: white;
  background-color: var(--color-negative);
}
.saveBtn:hover{
  opacity: 1;
  background-color: var(--color-highlight-main);
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--color-black);
    background-color: white;
  }
  a:hover {
    color: var(--color-highlight-secondary);
  }
  button {
    background-color: var(--color-highlight-main);
  }
}







/* Elements & Pages */

#root>aside {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: stretch;
  gap: 5px;
  padding: 0;
  background-color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

  width:25%;
  min-width: 200px;
  max-width: 300px;

  height: 100vh;
  position: sticky;
  top:0;
}
#root>aside>header{
  position: sticky;
  top:0;
  height:100vh;
}
#dashboardPage{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
  width: 100%;
}
#dashboardPage>.card{
  width: 45%;
}
#dashboardPage>.todoListCard{
  width: auto;
  min-width: 300px;
}
#dashboardPage>.taskFormCard{
  width:40%;
  max-width: 300px;
  position: sticky;
  top:20px;
}
#popupWrapper{
  position: fixed;
  top:0;
  left:0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,.5);
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: center;
}
#popupWrapper>.card{
  max-width: 40%;
  min-width: 240px;
  position: relative;
}
#popupWrapper .closeButton{
  position: absolute;
  top: 5px;
  right: 5px;
  color: var(--color-negative);
  cursor: pointer;
  padding:5px;

  line-height: 0;
  border-radius: 999em;
}
#popupWrapper .closeButton:hover{
  background-color: var(--color-negative);
  color: white;
}
#popupWrapper .closeButton svg{
  width: 20px;
  height: 20px;
}



/* Inputs */
.hasIconRight{
  display: flex;
  position: relative;
  flex-grow: 1;
}

.hasIconRight input {
  font-size: 1rem;
  width: 100%;
  text-overflow: ellipsis;
}

.hasIconRight svg{
  position: absolute;
  right: 9px;
  top: 8.5px;
  width: 14px;
  height: 14px;

  color: var(--color-lightgrey);
}
.hasIconRight input:focus + svg{
  color: var(--color-highlight-main);
}
